:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
    --vp-nav-logo-height: 40px;
  }

.VPHomeFeatures  .VPImage{
  width:100%;
}

.red {
  color: var(--bs-red, #dc3545)
}
.vpi-social-weibo{
  --icon:url(/weibo.svg)
}
.vpi-social-wechat{
  --icon:url(/weixin.svg)
}
.foot_link {
  color: var(--vp-c-text-2);
}
@media (max-width:1024px) {
  .flex-mx-column-reverse {
    flex-direction: column-reverse !important;
  }
}